/* Stilul pentru buton */
.button {
  display: inline-block;
  width: 1420px; /* Corectat pentru a nu fi prea mare */
  height: 50px;
  background-color: transparent;
  color: rgb(166, 160, 160);
  border-radius: 12px; /* Colțuri rotunjite */
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Asigură că textul butonului este deasupra gradientului */
  margin: 10px;
  opacity: 0.6;
  font-family: "Bona Nova SC", serif; /* Aplică fontul */
  font-weight: 400; /* Sau 700, după cum ai nevoie */
}

.button:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 140, 0, 0.6); /* Efectul de highlight sub buton */
}

/* Stilul pentru imaginea de fundal */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/54779537_A_dream_of_a_lover__concept_art__matte_painting__HQ__4k.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 100;
}

/* Stilul pentru animația de fundal */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Asigură-te că animația este peste imaginea de fundal */
}

/* Animație de fundal */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #040404; /* Fundal negru pentru contrast */
}

/* Elementul de fundal pentru animație */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Asigură că animația este sub buton */
}

/* Animațiile pentru scântei și cenușă */
.spark,
.ash {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5; /* Ajustează opacitatea pentru scântei și cenușă */
}

.spark {
  width: 5px;
  height: 5px;
  background-color: orange;
  animation: moveSpark 4s linear infinite;
}

.ash {
  width: 1px;
  height: 10px;
  background-color: #b5651d;
  opacity: 0.2;
  animation: moveAsh 5s linear infinite;
}

/* Keyframes pentru animații */
@keyframes moveSpark {
  0% {
    transform: translateY(100vh) translateX(0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) translateX(100px) scale(0.1);
    opacity: 0;
  }
}

@keyframes moveAsh {
  0% {
    transform: translateY(100vh) translateX(-100px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) translateX(50px) scale(0.5);
    opacity: 0;
  }
}
